@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

body {
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;
    background-image: url('Bilder/bakgrunn.jpeg');
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    padding: 20px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.8);
    border-radius: 4px;
    display: flex;
    width: 90%;
}

.box .imgBox img {
    max-width: 100%;
    min-width: 100%;
    float: left;
}

.box .content h2{
    margin: 0;
    padding-left: 20px;
}

.box .content p {
    padding-left: 10px;
}

.bilde1 .box{
    margin-top: -100px;
}

.bilde2 .box {
    margin-top: 500px;
}

.bilde3 .box {
    margin-top: 1130px;
}